body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#020a1a;
    color:#e6f7ff;
}

/* HERO SECTION */
.hero{
    min-height:60vh;
    padding:80px 20px 60px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;

    background:
    linear-gradient(rgba(0,0,30,0.7), rgba(0,0,30,0.9)),
    url("../images/hero.jpg");

    background-size:cover;
    background-position:center;
}

.glow{
    font-size:70px;
    color:#7df9ff;
    text-shadow:
    0 0 10px #00d4ff,
    0 0 25px #00d4ff,
    0 0 50px #00d4ff;
}

.tagline{
     font-size:24px;
    letter-spacing:3px;
    margin-top:10px;
    margin-bottom:0px;
}

/* EVENTS SECTION */
.events{
    display:flex;
    justify-content:center;
    gap:40px;
    padding:80px 20px;
    flex-wrap:wrap;
}

/* EVENT CARD */
.event-card{
    width:260px;
    text-align:center;
    text-decoration:none;
    color:#e6f7ff;

    background:rgba(0,212,255,0.08);
    backdrop-filter:blur(10px);

    border:1px solid rgba(0,212,255,0.3);
    border-radius:15px;

    box-shadow:0 0 20px rgba(0,212,255,0.2);
    transition:0.3s;

    overflow:hidden;
}

.event-card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 40px rgba(0,212,255,0.6);
}

.event-card img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.event-card h2{
    padding:15px;
}

/* BUTTON */
.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:#00d4ff;
    color:#020a1a;
    text-decoration:none;
    border-radius:8px;
}
